.footer {
	background: lightblue;
	padding: 24px;
	margin-top: 2rem;
}

.footer-container {
  display: flex;
  justify-content: center;
	gap: 20%;
}

.wp-block-archives-list .wp-block-archives {
	margin: 10px;
	display: flex;
	flex-direction: row;
}

.wp-block-latest-posts.wp-block-latest-posts__list {
	list-style-type: disc;
}

.wp-block-latest-posts.wp-block-latest-posts__list li:first-child {
	margin-top: 0;
}

.wp-block-latest-posts.wp-block-latest-posts__list li {
	margin-top: 12px;
}