footer {
	background: lightblue;
	padding: 3%;
	margin-top: 2rem;
}

.footer-container {
    display: flex;
    justify-content: center;
	gap: 20%;
}

.wp-block-archives-list .wp-block-archives {
	margin: 10px;
	display: flex;
	flex-direction: row;
}
