.header {
    background: lightblue;
    height: 80px;
    padding: 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 24px;
}

.header h1 {
    margin: 0;
    margin-left: 24px;
    font-size: 2.5em;
    font-weight: bolder;
}

/* ----- Logo ----- */

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo img {
    height: 80px;
    width: auto;
}

/* ----- Search bar ----- */



.page_item {
    text-decoration: none;
}

#s {
	padding: 10px;
	border-radius: 20px;
	border: solid 1px;
	outline: none;
	border-color: lightgray
}

#searchsubmit {
	background: white;
	padding: 10px;
	border-radius: 20px;
	border: solid 1px;
	border-color: lightgray
}



/* ----- Navigation ----- */

.header__right ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
    gap: 24px;
    list-style: none;
    margin-right: 24px;
}

.header li {
    font-size: 1.5;
    font-weight: bolder;
}

a {
    text-decoration: none;
    color: black;
}

