header {
    background: #00B7E6;
    height: 80px;
    
    padding: 10px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 200px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__mid {
    background-color: bisque;
}


.header__right {
    
    background-color: bisque;
}

.page_item {
    text-decoration: none;
    margin-right: 25px;

}


a {
    text-decoration: none;
    color: black;
}


ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-decoration: none;
}
